<h2>Cambiar rol</h2>
<p>Usuarios registrado</p>

<a href="/adminconsole"> volver a la consola</a>

<div>

    {{#each users}}
    <ul>
        <li>nombre:{{Name}} </li>
        <li>email:{{Email}} </li>
        <li>rol:{{Rol}} </li>

        <li>id: {{Id}} </li>
        <form method="post" action="http://localhost:8080/api/sessions/premium/{{Id}}">
            <button type="submit">Cambiar rol</button>
        </form>
    </ul>

    {{/each}}
    <form method="delete" action="http://localhost:8080/api/sessions/">
        <button type="submit">eliminar usuarios inactivos</button>
    </form>
</div>