<p>products</p>
<p>Bienvenido {{rol}} {{user.first_name}} {{user.last_name}} </p>


<div>

    {{#each products}}
    <ul>
        <li>nombre:{{title}} </li>
        <li>precio:{{price}} </li>
        <li>stock:{{stock}} </li>
        <button>agregar al carro</button>
    </ul>
    {{/each}}

</div>
<div>
    <form method="post" action="/api/sessions/logout">
        <button type="submit">log out<output></output></button>
    </form>
</div>